
#MyViewController {
    backGoundColor : NightMainBgColor;
    navigationViewColor : MainTitleColor;
    navigationViewTitleColor :  WhiteColor;
    
}

#MyViewControllerUI {
    
    containerBgcolor : #708090;

}
